<div class="brick-card" data-controller="edit-brick" data-edit-brick-target="card">
    <%= link_to brick_path(brick) do %>
      <% if brick.photo.attached? %>
        <%= cl_image_tag brick.photo.key, :transformation => { :width => 200, :crop => "pad" } %>
      <% end %>
    <% end %>

      <div class="brick-infos <%= "d-none" if brick.errors.any? %>" data-edit-brick-target="infos">
        <h2><%= brick.name %></h2>
        <button aria-label="Edit brick" data-action="click->edit-brick#revealForm">
          <i class="fa-solid fa-pen fa-xs ml-2"></i>
        </button>
      </div>

  <div data-controller="brick-categories">
    <%= simple_form_for brick, html: {  class: brick.errors.any? ? "" : "d-none",  data: { edit_brick_target: "form ",
      action: "submit->edit-brick#update"}} do |f|
      %>
    <%= f.input :name %>
    <%= f.input :category, collection: BrickCategory.distinct.pluck(:category), prompt: "select category",
      prompt: "Select a category",
      input_html: { data: {brick_categories_target: "category"}}
    %>
    <%= f.input :sub_category, collection: BrickCategory.distinct.pluck(:sub_category), prompt: "select sub category",
      input_html: { data: {brick_categories_target: "sub_category"} },
      wrapper_html: { data: {brick_categories_target: "sub_category_wrapper"}}
    %>
    <%= f.input :size, collection: BrickCategory.distinct.pluck(:size), prompt: "select size",
      input_html: { data: {brick_categories_target: "size"} },
      wrapper_html: { data: {brick_categories_target: "size_wrapper"}}
    %>
    <%= f.input :category_type, collection: BrickCategory.distinct.pluck(:category_type), prompt: "select type",
      input_html: { data: {brick_categories_target: "category_type"} },
      wrapper_html: { data: {brick_categories_target: "category_type_wrapper"}}
    %>
      <%= f.input :description %>
      <%= f.input :address,
        input_html: { data: {address_autocomplete_target: "address"}, class: "d-none"},
        wrapper_html: {data: {controller: "address-autocomplete",
        address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= f.input :price %>
      <%= f.input :brick_condition, collection: (1..5) %>
      <%= f.input :colour, collection: %w(red blue yellow green orange grey) %>
      <%= f.input :photo, label: "Upload a picture of your brick", as: :file %>
      <%= f.submit "Update Brick", class: "btn border" %>
    <% end %>
    <%= link_to "delete this brick", brick_path(brick),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class:"btn border" %>
  </div>
</div>
