<%# partial for creating a brick with image upload %>
<div data-controller="brick-categories">
  <%= simple_form_for(@brick) do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: BrickCategory.distinct.pluck(:category),
      prompt: "Select a category",
      input_html: { data: {brick_categories_target: "category", action: "change->brick-categories#revealSub"}}
    %>
    <%= f.input :sub_category, collection: BrickCategory.distinct.pluck(:sub_category),
      input_html: { data: {brick_categories_target: "sub_category", action: "change->brick-categories#revealSize"} },
      wrapper_html: { data: {brick_categories_target: "sub_category_wrapper"}, class: "d-none"}
    %>
    <%= f.input :size, collection: BrickCategory.distinct.pluck(:size),
      input_html: { data: {brick_categories_target: "size", action: "change->brick-categories#revealType"} },
      wrapper_html: { data: {brick_categories_target: "size_wrapper"}, class: "d-none"}
    %>
    <%= f.input :category_type, collection: BrickCategory.distinct.pluck(:category_type),
      input_html: { data: {brick_categories_target: "category_type"} },
      wrapper_html: { data: {brick_categories_target: "category_type_wrapper"}, class: "d-none"}
    %>
    <%= f.input :description %>
    <%= f.input :address,
      input_html: { data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: { data: {controller: "address-autocomplete",
      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
    <%= f.input :price %>
    <%= f.input :brick_condition, collection: (1..5) %>
    <%= f.input :colour, collection: %w(red blue yellow green orange grey) %>
    <%= f.input :photo, label: "Upload a picture of your brick", as: :file %>
    <%= f.submit "Add Brick", class: "btn border" %>
  <% end %>
</div>
