<%# partial for creating a brick with image upload %>
<%= simple_form_for(@brick) do |f| %>

<div class="brick-type-options" data-controller="brick-type" >

  <%= f.input :category, collection: BrickType.distinct.pluck(:category),
    prompt: "Select a Category",
    input_html: { data: {brick_type_target: "category", action: "change->brick-type#revealSub"}}
  %>

  <%= f.input :sub_category, collection: BrickType.distinct.pluck(:sub_category),
    prompt: "Select a Sub Category",
    input_html: { data: {brick_type_target: "sub_category", action: "change->brick-type#revealSize"} },
    wrapper_html: { data: {brick_type_target: "sub_category"}, class: "d-none"}
  %>

  <%= f.input :size, collection: BrickType.distinct.pluck(:size),
    prompt: "Select a size",
    input_html: { data: {brick_type_target: "size"} },
    wrapper_html: { data: {brick_type_target: "size"}, class: "d-none"}
  %>

</div>


  <div class="d-none">
    <%= f.input :name, collection: BrickType.distinct.pluck(:name),
      prompt: "Select a type" %>
  </div>


  <%= f.input :description %>
  <%= f.input :address,
    input_html: { data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: { data: {controller: "address-autocomplete",
    address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.input :price %>
  <%= f.input :brick_condition, collection: (1..5) %>
  <%= f.input :colour, collection: %w(red blue yellow green orange grey) %>
  <%= f.input :photo, label: "Upload a picture of your brick", as: :file %>
  <%= f.submit "Add Brick", class: "btn border" %>
<% end %>
