<div data-search-bricks-target="list">
  <p class="h4">
    <% if params[:query].blank? %>
      <%= pluralize bricks.count, 'brick' %> available
    <% else %>
      <%= pluralize bricks.count, 'result' %> for "<%= params[:query] %>"
    <% end %>
  </p>

  <div class="bricks">
    <% bricks.each do |brick| %>
      <%= link_to brick_path(brick) do %>
      <%= cl_image_tag brick.photo.key, :transformation => { :width => 200, :crop => "pad" } %>
        <h2><%= brick.name %><small> (<%= brick.address %>)<small></h2>
      <% end %>
    <% end %>
  </div>
</div>
