<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="bricks">
        <h1> Explore Bricks </h1>
        <%= form_with url: bricks_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search by name or colour"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
        <% if params[:query].blank? %>
          <h1 class="h3"><%= pluralize @bricks.count, 'brick' %> available</h1>
        <% else %>
          <h1 class="h3"> Sorry, no bricks found for <%= params[:query] %></h1>
        <% end %>
        <div class="bricks">
          <% @bricks.each do |brick| %>
            <div class="brick-card">
              <%= link_to brick_path(brick) do %>
                <h2><%= brick.name %> <small>(<%= brick.address %>)</small></h2>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to "add brick", new_brick_path, class:"btn border" %>
    </div>
  </div>
</div>
