<div class="container chatroom">
<%# displaying different chat title depending on role(buyer/seller) %>
<% if @chatroom.buyer == current_user %>
  <h1>Your chat with <%= @seller.username %> about <%= @brick.name %></h1>
<% else %>
  <h1>Your chat with <%= @buyer.username %></h1>
<% end %>
  <div class="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
    <%= simple_form_for [@brick, @chatroom, @message],
      html: {class: "d-flex"} do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Send a message",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn border" %>
      <%= f.button :button, "Back", type: "button", onclick: "window.location='#{brick_path(@brick)}'", class: "btn border" %>
    <% end %>
  </div>
</div>
