<h1>My Bricks</h1>

<%# displaying all the bricks that the current user has created %>
<% @bricks.each do |brick| %>
  <%= link_to brick_path(brick) do %>
    <% if brick.photo.attached? %>
      <%= cl_image_tag brick.photo.key, :transformation => { :width => 200, :crop => "pad" } %>
    <% end %>
    <h2><%= brick.name %></h2>
    <%= link_to "edit this brick", edit_brick_path(brick), class:"btn border" %>
    <%= link_to "delete this brick", brick_path(brick),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class:"btn border" %>
    <% end %>
<% end %>

<h1>My Requests</h1>

<%# displaying all the pending buy requests that user has to accept or reject  %>
<h3>Somebody requesting my bricks</h3>
<% @buy_requests.each do |buy_request| %>
  <% if buy_request.status == "pending" && buy_request.brick.user_id == current_user.id %>
    <%= link_to brick_path(buy_request.brick) do %>
      <%= buy_request.brick.name %>
    <% end %>
    <%= button_to "Accept", accept_brick_buy_request_path(buy_request.brick, buy_request),
      method: :patch, class: "btn border",
      data: { turbo_confirm: 'Are you sure?' } %>
    <%= button_to "Reject", reject_brick_buy_request_path(buy_request.brick, buy_request),
      method: :patch, class: "btn border",
      data: { turbo_confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%# displaying all the pending buy requests for bricks that the current user has made %>
<h3>Me requesting somebodies bricks</h3>
<% @buy_requests.each do |buy_request| %>
  <% if buy_request.brick.user_id != current_user.id %>
    <%= link_to brick_path(buy_request.brick) do %>
      <%= buy_request.brick.name %>
    <% end %>
    <%= link_to "Cancel buy request", buy_request_path(buy_request),
      data: { turbo_method: :delete },
      class: "btn border" %>
  <% end %>
<% end %>
